name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            # Light Mode: Winter Blues
            dist/github-contribution-grid-snake.svg?color_snake=#f39c12&color_dots=#ebedf0,#afe1ee,#77ceda,#3498db,#2980b9
            
            # Dark Mode: Snowflake/Star shapes using CSS Clip-Path
            dist/github-contribution-grid-snake-dark.svg?color_snake=#3c7dd9&color_dots=#161b22,#003366,#004080,#0059b3,#0073e6&styles=.day{clip-path:polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
